body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 40px;
    background-color: rgb(15,15,15);
}

h1 {
    font-size: 50px;
    color: white;
}

#H2-1{
    font-size: 25px;
    font-weight: 700;
    font-family: 'Fredoka One', Arial;
    padding-left: 50px;
}

#P-1{
    font-size: 15px;
    font-weight: 520;
    font-family: sans-serif;
    padding-left: 50px;
}

#H2-2{
    font-size: 25px;
    font-weight: 700;
    font-family: 'Fredoka One', Arial;
    padding-left: 50px;
    padding-top: 90px;
}

iframe {
    width: 500px;
    height: 300px;
    padding-left: 50px;
}